<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', { page: '/' }) %>
  <div class="container mx-auto">
    <div class="hero">
      <h1>About </h1>
    </div class="hero">
    <h5>All about me.</h5>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <img src="https://m.media-amazon.com/images/I/81iZFOk+7BL._AC_UF894,1000_QL80_.jpg" alt="About Me">
      </div>
      <div>
        <p>The courses I am taking are OOP345, WEB322, SYD366, CAN410 and DBS311.</p>
        <p>My hobbies are building Lego sets and coding.</p>
        <p>I like pizza with pineapple, but dislike pineapple by itself.</p>
      </div>
    </div>
  </div>
</body>
</html>
